<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.ycx.dao.UserDao">
    <select id="selectByCreateDate" resultType="Integer">
        select count(*) from user where sex = #{sex} and DATE_SUB(NOW(),INTERVAL #{day} day) &lt; rigest_date
    </select>

    <select id="selectByLocation" resultType="UserDto">
        select location name,count(*) value from user where sex=#{sex} group by location
    </select>

    <!-- 登陆 -->
    <select id="login" resultType="User">
        select * from user where phone = #{phone} and password = #{password}
    </select>

    <!-- 补充个人信息接口 -->
    <update id="information">
        update user set password=#{password},photo=#{photo},name=#{name},nick_name=#{nick_name},sex=#{sex},sign=#{sign},location=#{location} where id=#{id}
    </update>

    <!--随机展示(金刚)-->
    <select id="selectRandom" resultType="User">
       select * from user where id != #{id} order by rigest_date desc
    </select>

    <!-- 一级页面 -->
    <!-- 查5条轮播图 -->
    <select id="selectBanner" resultType="Banner">
        select * from banner where status = '1' order by create_date desc limit 0,5
    </select>
    <!-- 查询专辑 -->
    <select id="selectAlbum" resultType="Album">
        select * from album where author = (select name from guru where id=(select gid from userguru where uid=#{uid}))
    </select>
    <!-- 查询文章 -->
    <select id="selectArticle" resultType="Article">
        select * from article where guru_id = (select id from guru where id=(select gid from userguru where uid=#{uid}))
    </select>
</mapper>
